#logo {
    align-items: center;
    color: #4E2813;
    display: flex;
    font-family: 'Lilita One', cursive;
    font-weight: bold;
    font-size: 20px;
    justify-content:flex-start;
}

/* Holds everything but logo */
#overAll {
    display: flex;
    flex-direction: column;
}

#selectBoxes {
    background-color:  #4E2813;
    border: 1px solid #149419;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
}

/* Holds format and saveditineraries */
.wrap {
    display: flex;
    width: 100%;
}

#savedItineraries {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

/* Holds itin info and empty div */
.savedItinerary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Holds itineraries, directions, and user search */
.format {
    background-color: #6CC777;
    display: flex;
    flex-direction: column;
    width: 40%;
}

#itineraries {
    display: flex;
}

#weatherForecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}