#itineraryPreview, #savedItineraries {
    background-color: #6CC777;
    border: 1px solid #4E2813;
}

/* --------- Previewed Itineraries -------------------------------------- */

#itinPreview {
    background-color: #b3cdb6;
    padding: 10px;
    border: 1px solid #4E2813;
    text-align: center;
}

.itin-text-shadow {
    color: #4E2813;
    margin-bottom: 5px;
    text-shadow: rgb(80, 159, 63) 1px 0 10px; 
}

/* --------- Saved Itineraries -------------------------------------- */

.savedItinerary {
    background-color: #b3cdb6;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
    min-width: 100px;
    width: 49%;
    border: 1px solid #4E2813;
    text-align: center;
}

.Itin-num {
    color: #4E2813;
    margin-bottom: 5px;
    text-shadow: rgb(80, 159, 63) 1px 0 10px; 
}