#selectBoxes {
    display: flex;
    justify-content: space-around;
    border: 1px solid coral
}

#itineraries {
    display: flex;
}

#itineraryPreview, #savedItineraries {
    border: 1px solid coral;
    width: 50%
}

#weatherForecast {
    border: 1px solid coral
}

.details-btn {
    border-radius: 20px;
}

#weatherForecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weatherDay {
    border: dotted 2px;
    border-radius: 10% 30% 50% 70%;
    padding: 35px;
    margin: 20px;
}