@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Pacifico&family=Seymour+One&display=swap');

body {
    background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/220218162824-01-national-parks-fees.jpg");
    image-rendering: -webkit-optimize-contrast;
}

#selectBoxes {
    display: flex;
    justify-content: space-around;
    border: 1px solid #149419;
    background-color:  #4E2813;
}

option:hover {
    background-color: bisque;
}

select:hover {
    background-color: #6CC777;
    cursor: pointer;
}


#itineraries {
    display: flex;
}

#itineraryPreview, #savedItineraries {
    border: 1px solid #6CC777;
    background-color: rgba(219, 225, 219, 0.023);
    min-width: 350px;
    border: 1px solid #4E2813;
}

#weatherForecast {
    border: 1px solid #4E2813;
    background-color: #6CC777;
}

.details-btn {
    border-radius: 20px;
}

#weatherForecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weatherDay {
    border: dotted 2px #4E2813;
    border-radius: 10% 30% 50% 70%;
    padding: 35px;
    margin: 20px;
    background-color: #b3cdb6;
}
.details-btn:hover {
    background-color: bisque;
    cursor: pointer;
}

#eventsBtn:hover {
    background-color: bisque;
    cursor: pointer;
}

#eventsBtn {
    margin-top: 10px;
}

#submitItinerary {
   margin-left: 20px;
}

#submitItinerary:hover {
    background-color: bisque;
    cursor: pointer;
}

#logo {
    font-family: 'Lilita One', cursive;
    color: #bbd538;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background: rgba(236, 241, 230, 0.023);
}

#parkPreview, #eateryPreview, #attractionPreview {
   color: #4E2813;
   margin-bottom: 10px;
   margin-top: 20px;
   margin-left: 20px;
}

.savedItinerary {
    background-color: #b3cdb6;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 400px;
    border: 1px solid #4E2813;
    text-align: center;
    position: relative;
    left: 25%;
}

.Itin-num {
    color: #4E2813;
    margin-bottom: 10px;
    text-shadow: rgb(80, 159, 63) 1px 0 10px; 
}

#imageBtn {
    margin-top: 5px;
}

#imageBtn:hover {
    background-color: bisque;
    cursor: pointer;
}

.weatherDayHeader {
    text-shadow: rgb(80, 159, 63) 1px 0 10px;      
}


.search {
    background-color: rgba(76, 175, 80, 0.3);
    width: 75%;
    position: relative;
    left: 25%;
}

#itinPreview {
    background-color: #b3cdb6;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 400px;
    border: 1px solid #4E2813;
    text-align: center;
    position: relative;
    left: 20%;

}

.itin-text-shadow {
 text-shadow: rgb(80, 159, 63) 1px 0 10px; 
}

.format {
    background: rgba(76, 175, 80, 0.3);
    display: flex;
    flex-direction: column;
    width: 50%;
}


#searchResults {
    width: 50%;
    background-color: #6CC777;
    margin: 0;
    border: 1px solid #4E2813;
    width:100%;
    text-align: center;
}

.wrap {
    display: flex;
    width: 100%;
}

#overAll {
    display: flex;
    flex-direction: column;
}

#savedItineraries {
    width: 50%;
}

/*
hex colors from logo
light green color: #6CC777;
dark green color: #149419;
brown color: #4E2813;
*/
