/* Button/input styles */

button, select {
    padding: 5px;
}

button {
    margin: 5px 10px;
    font-size: 14px;
}

select {
    min-width: 150px;
    margin-bottom: 10px;
    width: 100%;
}

#parkSelect, #attractionSelect, #eaterySelect {
    width: 33%;
}

.details-btn {
    border-radius: 20px;
}

/* Hovers */

option:hover {
    background-color: bisque;
}

select:hover {
    background-color: #6CC777;
}

button:hover {
    background-color: bisque;
    cursor: pointer;
}

/* Search section */

#search {
    background-color: #b3cdb6;
    padding: 10px;
    margin: 5px;
    border: 1px solid #4E2813;
    text-align: center;
}

#searchResults {
    width: 50%;
    margin: 0px;
    width:100%;
    text-align: center;
}

.searchResults {
    border: 1px solid;
    border-radius: 25%;
    width: 65%;
    margin: 10px auto;
    background-color: #d1eed4;
    text-align: center;
}

/* ------- Removed? -------------------------

#imageBtn {
    margin-top: 5px;
}

#imageBtn:hover {
    background-color: bisque;
} 
*/