#weatherMain {
    background-color: #6CC777
}

#weatherHeader {
    background-color: #6CC777;
    text-align:center;
    border-top: 1px solid #4E2813;
    /* padding-bottom: 10px; */
}

#weatherForecast {
    /* border: 1px solid #4E2813; */
    background-color: #6CC777;
}

.weatherDay {
    border: dotted 2px #4E2813;
    border-radius: 10% 30% 50% 70%;
    padding: 35px;
    margin: 20px;
    background-color: #b3cdb6;
}

.weatherDayHeader {
    text-shadow: rgb(80, 159, 63) 1px 0 10px;      
}

#weatherEmpty {
    margin: 15px;
}